html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: snow;
}

body {
    font-family: Bahnschrift;
}

nav {
    background-color: lightgrey;
    height: 10%;
}

div.nav_contents {
    display: inline-block;
    font-size: 20pt;
    font-family: Bahnschrift;
    color: teal;
}

li {
    color: snow;
}

div.header {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 120px;
    background-color: transparent;
    color: teal;
    font-size: 60pt;
}

table {
    width: 80%;
    text-align: center;
    position: absolute;
    top: 320px;
    left: 150px;
}

div.bottom > p {
    width: 100%;
    height: 100px;
    background-color: lightgray;
    text-align: center;
    position: absolute;
    bottom: -11800px;
    font-size: 20px;
    color: teal;
}

